body{
    background-color: pink;
}


.jumbotron .jumbotron-heading{
    font-weight: 300;
}
.bg-gradient-pink-white{
    background: pink;
}
.ef{
    -webkit-filter: blur(5px);
    filter: blur(5px);
}
.ef:hover{
    transition: 1s;
    filter: none;
    border-radius: 15px;
}
.bg-btn{
    background-color: white;
    opacity: 60%;
}
